## A. Create a data frame called DataFrame1. It should contain data about five employees. Each employee data consists of employee number, name, department number and designation. Add a new column called Address. In this new column, set the value as ‘Chennai’ for all the existing rows. Find the employees with the highest salary in each department.

In [3]:
import pandas as pd

# Create DataFrame1 with employee data
data = {
    'Employee Number': [1, 2, 3, 4, 5],
    'Name': ['John', 'Emily', 'Michael', 'Emma', 'David'],
    'Department Number': [101, 102, 101, 103, 102],
    'Designation': ['Manager', 'Engineer', 'Analyst', 'Engineer', 'Manager'],
    'Salary': [5000, 6000, 4500, 5500, 7000]
}

df = pd.DataFrame(data)

# Add a new column called Address and set the value as 'Chennai' for all rows
df['Address'] = 'Chennai'

# Find employees with the highest salary in each department
highest_salary_employees = df.groupby('Designation')['Salary'].idxmax()
result = df.loc[highest_salary_employees]

print(result)

   Employee Number     Name  Department Number Designation  Salary  Address
2                3  Michael                101     Analyst    4500  Chennai
1                2    Emily                102    Engineer    6000  Chennai
4                5    David                102     Manager    7000  Chennai

## B. Perform a detailed EDA on the Diabetes dataset. In particular, the output should contain correlation heat map and pair plots for all the features using the seaborn library. Draw a histogram for the BMI feature. Finally, draw a color coded Decision tree.

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree

# Load the Diabetes dataset
diabetes = pd.read_csv('diabetes.csv')

# Correlation Heatmap
correlation = diabetes.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(correlation, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

# Pair Plots
sns.pairplot(diabetes, hue='Outcome', diag_kind='hist')
plt.show()

# Histogram for BMI feature
plt.figure(figsize=(8, 6))
sns.histplot(data=diabetes, x='BMI', kde=True)
plt.title('BMI Distribution')
plt.show()

# Color-coded Decision Tree
X = diabetes.drop('Outcome', axis=1)
y = diabetes['Outcome']

model = DecisionTreeClassifier(criterion='gini', random_state=42)
model.fit(X, y)

plt.figure(figsize=(15, 10))
plot_tree(model, feature_names=X.columns, class_names=['No Diabetes', 'Diabetes'], filled=True)
plt.title('Color-coded Decision Tree')
plt.show()

Output hidden; open in https://colab.research.google.com to view.